/* Soluzione qui */

/* Tablet responsive view */
@media screen and (min-width: 768px) {
    #topbar {
        justify-content: left;
    }
    main {
        padding: 40px;
    }
    .recipe-name {
        font-size: 2rem;
    }
    .btn {
        padding: 10px 90px;
    }
    .ads {
        display: flex;
    }
    .recipe-origin {
        display: flex;  
    }
    .presentation img {
        float: left;
        margin-right: 8px;
    }
}






/* Desktop responsive view */
@media screen and (min-width: 992px) {

}